{% set current_page='联系我们' %}
{% extends 'base.html' %}
{% block body %}
    <div id="support" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Request for Contact</h3>
                <p class="lead">If you have question, please contact with us!</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-6">
                    <div class="contact_form">
                        <div id="message"></div>
                        <form id="contactform" class="row" action="{{ url_for('contact') }}" name="contactform"
                              method="post">
                            {{ form.hidden_tag() }}
                            <fieldset class="row-fluid">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="name">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="stu_id" id="stu_id" class="form-control"
                                           placeholder="student ID">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="email" name="email" id="email" class="form-control"
                                           placeholder="Your Email">
                                </div>


                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" name="comments" id="comments" rows="6"
                                              placeholder="Please describe your question"></textarea>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <button type="submit" value="SEND" id="submit"
                                            class="btn btn-light btn-radius btn-brd grd1 btn-block">Submit
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div><!-- end col -->
                <div class="col-md-6">
                    <div class="right-box-contact">
                        <h4>Phone</h4>
                        <div class="support-info">
                            <div class="info-title">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                +86 13123456789
                                <span>Time: 9:00 - 9:10</span>
                            </div>
                        </div>
                    </div>

                    <div class="right-box-contact">
                        <h4>Your Feedback</h4>
                        <div class="support-info">
                            <div class="info-title">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                lisicong97@gmail.com
                                <span>Help Us Improve!</span>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}
