{% set current_page='Forum' %}
{% extends 'base.html' %}
{% block body %}
    <div class="contact_form">
        {% for row in Courses %}
            <a href="/forum.html?course_id={{ row.id }}">{{ row.name }}</a>
        {% endfor %}

    </div>


    <div class="contact_form">
        <form class="container" action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset class="row-fluid">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input type="text" id="title" name="title" class="form-control"
                               placeholder="title">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p><textarea name="content" class="form-control" placeholder="details" rows="6"></textarea></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" name="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">
                            add new post
                        </button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

    <div id="testimonials" class="section lb">
        <div class="container">
            {% if Total %}
                {% for row in Total %}
                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <h4>{{ row.name }}
                                <small>- {{ row.id }}</small>
                            </h4>
                        </div>
                        <div class="desc">
                            <a href="forumInfo.html?post_id={{ row.post_id }}">
                                <h3>{{ row.details }}</h3>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}
