{% set current_page='Forum' %}
{% extends 'base.html' %}
{% block body %}
    <div class="contact_form">
        {% for row in Courses %}
            <a href="/forum.html?course_id={{ row.id }}">{{ row.name }}</a>
        {% endfor %}

    </div>




    <div id="testimonials" class="section lb">
        <div class="container">
            {% if Total %}
                {% for row in Total %}
                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <h4>{{ row.name }}
                                <small>- {{ row.id }}</small>
                            </h4>
                        </div>
                        <div class="desc">
                            <a href="forumInfo.html?post_id={{ row.post_id }}">
                                <h3>{{ row.details }}</h3>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}
