{% set current_page='Homework' %}
{% extends 'base.html' %}
{% block body %}

<div id="features" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
                {% if homework %}
                <h3>{{ homework.name }}</h3>
                <p class="lead">{{ homework.details }}</p>
                <p class="lead">{{ homework.ddl  }}</p>
                {% endif %}
            </div><!-- end col -->
        </div><!-- end title -->

        <hr class="invis">

        <div class="text-center">
            <form id="upload-form" action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                　　　 <input type="file" id="upload" name="upload"/> <br/>
                　　　 <input type="submit" value="Upload" name="submit" class="btn btn-light btn-radius grd1 btn-brd"/>
            </form>
        </div>


    </div><!-- end container -->
</div><!-- end section -->
{% endblock %}