{% extends 'base.html' %}
{% set current_page='Homework' %}
{% block body %}
<div class="contact_form">
    <form id="contactform1" class="row" name="contactform" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="row-fluid">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label class="sr-only">Which course?</label>
                <select name="course_id" id="select_course" class="selectpicker form-control"
                        data-style="btn-white">
                    {% if Total0 %}
                    {% for row in Total0 %}
                    <option name="course_id" value="{{row.id}}">{{row.name}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button type="submit"
                        class="btn btn-light btn-radius btn-brd grd1 btn-block">Go
                </button>
            </div>
        </fieldset>
    </form>
</div>


<div id="testimonials" class="section lb">
    <div class="container">

        {% if Total %}
        {% for row in Total %}
        <div class="testimonial clearfix">
            <i class="fa fa-envelope" aria-hidden="true" style="float:left">
                {% if row.grade == -1 %}<font font color="red">new homework!</font>{% endif %}
                {% if row.grade != -1 %}<font font color="blue">{{ row.grade }}</font>{% endif %}

            </i>
            <a href="homeworkDemo.html?homework_id={{row.homework_id}}"><strong>{{ row.name }}</strong></a>

        </div>
        {% endfor %}
        {% endif %}

        <!-- end testi-meta -->


    </div><!-- end container -->
</div><!-- end section -->
{% endblock %}