{% set current_page = "Home" %}
{% extends 'base.html' %}
{% block body %}
    <div id="features" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Your Course</h3>
                    <p class="lead">following are the class you attended.</p>
                </div><!-- end col -->
            </div><!-- end title -->

            <hr class="invis">

            <div class="row">

                {% if Total %}
                    {% for row in Total %}

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="service-widget">
                                <div class="property-main">
                                    <div class="property-wrap">
                                        <figure class="post-media wow fadeIn">
                                            <a href="courseDemo.html?cousre_id={{row.id}}" data-rel="prettyPhoto[gal]"
                                               class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                                            <img src="{{ row.imgURL }}" alt="" class="img-responsive">
                                            <div class="label-inner">

                                            </div>
                                        </figure>
                                        <div class="item-body">
                                            <h3>{{ row.name }}</h3>


                                        </div>
                                        <div class="item-foot">
                                            <div class="pull-left">
                                    <span class="prop-user-agent">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <a href="teacherInfo.html?teacher_id={{row.teacher}}">{{ row.teacher }}</a>
                                    </span>
                                            </div>
                                            <div class="pull-right">
                                    <span class="prop-date">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        {{ row.time }}
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end service -->
                        </div>

                    {% endfor %}
                {% endif %}


            </div><!-- end row -->
        </div><!-- end container -->
        <div class="container text-center">
            <button type="button" class="btn btn-light btn-radius grd1 btn-brd">logout</button>
        </div>
    </div><!-- end section -->
{% endblock %}