{% set current_page='Information' %}
{% extends 'base.html' %}
{% block body %}
    <div id="testimonials" class="section lb">
        <div class="container">


            {% if Total %}
                {% for row in Total %}
                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <h4>{{ row.name }}</h4>
                        </div>
                        <h3>{{ row.details }}</h3>
                    </div>
                {% endfor %}
            {% endif %}


        </div><!-- end carousel -->
    </div><!-- end col -->
{% endblock %}