{% set current_page='信息' %}
{% extends 'base.html' %}
{% block body %}
    <div class="contact_form">
        <form id="contactform1" class="row" name="contactform" method="post">
            <fieldset class="row-fluid">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="sr-only">Which course?</label>
                    <select name="select_price1" id="select_course" class="selectpicker form-control"
                            data-style="btn-white">
                        <option value="OS">OS</option>
                        <option value="Java">Java</option>
                        <option value="SRE">SRE</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button type="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Go</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}