{% set current_page='登陆' %}
{% extends 'base.html' %}
{% block body %}

    <ul class='slideshow'>
        <li>
            <span>Summer</span>
        </li>
        <li>
            <span>Fall</span>
        </li>
        <li>
            <span>Winter</span>
        </li>
        <li>
            <span>Spring</span>
        </li>
    </ul>

    <div class="parallax first-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow slideInLeft">
                    <div class="contact_form">
                        <h3><i class="fa fa-envelope-o grd1 global-radius"></i>login</h3>
                        <form class="row" action="{{ url_for('login') }}" method="post">
                            {{ form.hidden_tag() }}
                            <fieldset class="row-fluid">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" name="username" id="username" class="form-control"
                                           placeholder="User ID">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="password" name="password" id="password" placeholder="Password"
                                           required="" class="form-control">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="text" name="Verification" placeholder="Verification Code" required=""
                                           class="form-control">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <img src="../static/uploads/checkCode.png">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="checkbox"
                                           class="btn btn-light btn-radius btn-brd grd1 btn-block"><label
                                        class='form-check-label' for=0>remember me</label>
                                    </input>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <button type="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">login
                                    </button>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="big-tagline clearfix">
                        <h2>Wlecome to</h2>
                        <h2>ZJU online Class</h2>
                        <p class="lead">This Web is for the learning of some courses in ZJU. Please use your student ID
                            to
                            enroll.</p>
                        <a data-scroll class="btn btn-light btn-radius grd1 btn-brd">I'm guest</a>
                        <a data-scroll class="btn btn-light btn-radius grd1 btn-brd" href="signUp.html">sign up</a>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="about-box">
        <div class="container">
            <div class="row">
                <div class="top-feature owl-carousel owl-theme">
                    <div class="item">
                        <div class="single-feature">
                            <h4><a href="../static/#">efficient</a></h4>
                            <p>teaching online</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-feature">
                            <h4><a href="../static/#">convenient</a></h4>
                            <p>study online</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-feature">
                            <h4><a href="../static/#">light</a></h4>
                            <p>Web online</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-feature">
                            <h4><a href="../static/#">communication</a></h4>
                            <p>communicate online</p>
                        </div>
                    </div>
                </div>

                <hr class="hr1">


            </div>
        </div>
{% endblock %}