{% set current_page='Media' %}
{% extends 'base.html' %}
{% block body %}
<div id="gallery" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h3>Media Center</h3>
                <p class="lead">All video and audio that teacher provided are collected here.</p>
            </div><!-- end col -->
        </div><!-- end title -->

        <div id="da-thumbs" class="da-thumbs portfolio">


            {% if Total %}
                {% for row in Total %}
                
                    <div class="post-media_g pitem item-w1 item-h1 cat1">
                    <a href="mediaDemo.html?name={{row.id}}">
                        <a href="mediaDemo.html?name={{row.id}}" data-rel="prettyPhoto[gal]">
                            <a href="mediaDemo.html?name={{row.id}}">
                            <img src="{{ row.img }}" alt="" class="img-responsive"></a>
                            <div>
                                <i class="flaticon-unlink"></i>
                            </div>
                        </a>
                    </a>
                
                    </div>
                {% endfor %}
            {% endif %}


        </div><!-- end portfolio -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="testimonials" class="section lb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h3>END</h3>
                <p class="lead">If there is no material you need, please contact your teacher.</p>
            </div><!-- end col -->
        </div><!-- end title -->


    </div><!-- end carousel -->
</div><!-- end col -->
</div><!-- end row -->
</div><!-- end container -->
</div><!-- end section -->
{% endblock %}