<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Site Metas -->
<title>登录</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="../static/style.css">
<!-- Colors CSS -->
<link rel="stylesheet" href="../static/css/colors.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="../static/css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="../static/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="../static/css/custom.css">

<!-- Modernizer for Portfolio -->
<script src="../static/js/modernizer.js"></script>

<!--[if lt IE 9]>
<script src="../static/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="../static/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body class="realestate_version">

<!-- LOADER -->
<div id="preloader">
    <span class="loader"><span class="loader-inner"></span></span>
</div><!-- end loader -->
<!-- END LOADER -->
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<header class="header header_style_01">
    <nav class="megamenu navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="../static/images/logos/logo.png" alt="image"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a>Information</a></li>
                    <li><a>Homework</a></li>
                    <li><a>Media</a></li>
                    <li><a>Forum</a></li>
                    <li><a href="contact.html">Contact</a></li>


                    <li class="search-option">
                        <button class="search tran3s dropdown-toggle" id="searchDropdown" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"
                                                                              aria-hidden="true"></i></button>
                        <form action="#" class="p-color-bg dropdown-menu tran3s" aria-labelledby="searchDropdown">
                            <input type="text" placeholder="Search....">
                            <button class="p-color-bg"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">

</div>

<ul class='slideshow'>
    <li>
        <span>Summer</span>
    </li>
    <li>
        <span>Fall</span>
    </li>
    <li>
        <span>Winter</span>
    </li>
    <li>
        <span>Spring</span>
    </li>
</ul>

<div class="parallax first-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow slideInLeft">
                <div class="contact_form">
                    <h3><i class="fa fa-envelope-o grd1 global-radius"></i>Register</h3>
                    <form id="contactform1" class="row" name="contactform" method="post"
                          action="{{ url_for('signUp') }}">
                        {{form.hidden_tag()}}
                        <fieldset class="row-fluid">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" name="user" id="user" class="form-control" placeholder="User ID">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" name="name" id="name" class="form-control" placeholder="User Name">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="password" name="password" placeholder="Password" required=""
                                       class="form-control">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="password" name="password" placeholder="Confirm Password" required=""
                                       class="form-control">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="email" name="email" placeholder="Email Address" required=""
                                       class="form-control">
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="userType" class="custom-control-input"
                                       value="teacher">
                                <label class="custom-control-label" for="customRadio1">Teacher</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="userType" class="custom-control-input"
                                       value="student">
                                <label class="custom-control-label" for="customRadio2">Student</label>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <button type="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Register
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <script>
          function validate() {
              var pwd1 = document.getElementById("pwd1").value;
              var pwd2 = document.getElementById("pwd2").value;
        <!-- 对比两次输入的密码 -->
              if(pwd1 != pwd2) {
                  alert("passwords are different!");
                  document.getElementById("submit").disabled = true;
              }
              else {
                document.getElementById("submit").disabled = false;
              }
          }

            </script>


            <div class="col-md-6 col-sm-6">
                <div class="big-tagline clearfix">
                    <h2>Wlecome to</h2>
                    <h2>ZJU online Class</h2>
                    <p class="lead">This Web is for the learning of some courses in ZJU. Please use your student ID to
                        enroll.</p>
                    <a data-scroll class="btn btn-light btn-radius grd1 btn-brd">I'm guest</a>
                    <a data-scroll class="btn btn-light btn-radius grd1 btn-brd">Log in</a>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="about-box">
    <div class="container">
        <div class="row">
            <div class="top-feature owl-carousel owl-theme">
                <div class="item">
                    <div class="single-feature">
                        <h4><a href="../static/#">efficient</a></h4>
                        <p>teaching online</p>
                    </div>
                </div>
                <div class="item">
                    <div class="single-feature">
                        <h4><a href="../static/#">convenient</a></h4>
                        <p>study online</p>
                    </div>
                </div>
                <div class="item">
                    <div class="single-feature">
                        <h4><a href="../static/#">light</a></h4>
                        <p>Web online</p>
                    </div>
                </div>
                <div class="item">
                    <div class="single-feature">
                        <h4><a href="../static/#">communication</a></h4>
                        <p>communicate online</p>
                    </div>
                </div>
            </div>

            <hr class="hr1">


        </div>
    </div>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <img src="../static/images/logos/logo-realestate.png" alt="">
                        </div>
                        <p> This course web is designed by G02</p>
                        <p> Our leader is Jiangtan</p>
                        <p> Our members are jw, lsc, pw, zxj, xm</p>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Info Link</h3>
                        </div>

                        <ul class="twitter-widget footer-links">
                            <li><a href="../static/#"> CC98 </a></li>
                            <li><a href="../static/#"> ZJU教务管理系统 </a></li>
                            <li><a href="../static/#"> 本科生院官网</a></li>
                            <li><a href="../static/#"> ZJU选课系统</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="../static/#">lisicong97@gmail.com</a></li>
                            <li>ZJU yuquan campus ***</li>
                            <li>13800000000</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Social</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="../static/#"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a href="../static/#"><i class="fa fa-github"></i> Github</a></li>
                            <li><a href="../static/#"><i class="fa fa-twitter"></i> Twitter</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-right">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="../static/#">software
                        requirement class G02</a></p>
                </div>


            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="../static/#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../static/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/portfolio.js"></script>
    <script src="../static/js/hoverdir.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <!-- MAP & CONTACT -->
    <script src="../static/js/map.js"></script>

</body>
</html>
