{% set current_page='Course' %}
{% extends 'base.html' %}
{% block body %}
    <div id="features" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 col-md-offset-2">
                    {% if courseInfo %}
                        <h3>{{ courseInfo.name }}</h3>
                        <p class="lead">{{ courseInfo.details }}</p>
                    {% endif %}
                </div><!-- end col -->
            </div><!-- end title -->

            <hr class="invis">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <form id="upload-form" action="" method="post" enctype="multipart/form-data">
                　　　 <input class="btn btn-light btn-radius btn-brd grd1 btn-block" type="file" id="upload" name="upload"/> <br/>
                　　　 <input class="btn btn-light btn-radius btn-brd grd1 btn-block" type="submit" value="submit list"/>
            </form>
</div>

        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}