{% extends 'Tbase.html' %}
{% set current_page='teacherInformation' %}
{% block body %}
    <div id="features" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 col-md-offset-2">
                    {% if teachInfo %}
                        <h3>{{ teachInfo.name }}</h3>
                        <p class="lead">{{ teachInfo.email }}</p>
                        <p class="lead">{{ teachInfo.details }}</p>
                    {% endif %}
                </div><!-- end col -->
            </div><!-- end title -->

            <hr class="invis">



        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}