{% extends 'Tbase.html' %}
{% set current_page = "Homework" %}
{% block body %}


    <div class="contact_form">
        <form id="contactform1" class="row" name="contactform" method="post">
            <fieldset class="row-fluid">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="sr-only">Which course?</label>
                    <select name="select_price1" id="select_course" class="selectpicker form-control"
                            data-style="btn-white">
                        {% if Total0 %}
                            {% for row in Total0 %}
                                <option name="course_id" value="{{row.id}}">{{row.name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button type="submit" onclick="myFunction()"
                            class="btn btn-light btn-radius btn-brd grd1 btn-block">Go
                    </button>
                </div>
            </fieldset>
        </form>
    </div>



    <form class="container" action="" method="post">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="text" name="title" id="HomeworkTitle" class="form-control" placeholder="Homework Title">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p><textarea name="content" class="form-control" rows="6"></textarea></p>
        </div>
        <div class="testimonial clearfix">
            <button type="button" onclick="myFunction()" class="btn btn-light btn-radius grd1 btn-brd">Submit</button>
        </div>

    </form>





    <div id="testimonials" class="section lb">
        <div class="container">

            {% if Total %}
                {% for row in Total %}
                    <div class="testimonial clearfix">
                        <i class="fa fa-envelope" aria-hidden="true" style="float:left"></i>
                        <a href="{{ row.url }}"><strong>{{ row.name }}</strong></a>
                    </div>
                {% endfor %}
            {% endif %}


            <!-- end testi-meta -->


        </div><!-- end carousel -->
    </div><!-- end col -->
    </div><!-- end row -->
    </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}