{% extends 'Tbase.html' %}
{% set current_page = "Homework" %}
{% block body %}



    <div id="testimonials" class="section lb">
        <div class="container">
                    {% if Total %}
                    {%for row in Total%}
                        <div class="testimonial clearfix">
                            <div class="testi-meta">
                                <h4>{{ row.student_name }}<small>- {{ row.grade }}</small></h4>
                            </div>
                            <div class="desc ">
                                <h3> {{ row.details }} </h3>
                            </div>
                                <button class="btn btn-light btn-radius grd1 btn-brd col-lg-3 col-md-3 col-sm-3 col-xs-3" type="submit">download</button>
                            <form class="row" action="{{ url_for('login') }}" method="post">
                                {{ form.hidden_tag() }}
                                <fieldset class="row-fluid">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <input type="text" name="grade" id="grade" class="form-control"
                                       placeholder="grade">
                                    </div>
                                    <button class="btn btn-light btn-radius grd1 btn-brd col-lg-3 col-md-3 col-sm-3 col-xs-3" type="submit">submit</button>

                                </fieldset>
                             </form>
                        </div>
                    {% endfor %}
                    {% endif %}     
        </div>
    </div>