{% set current_page = "主页" %}
{% extends 'base.html' %}
{% block body %}

    <div id="features" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Your Course</h3>
                    <p class="lead">following are the class you attended.</p>
                </div><!-- end col -->
            </div><!-- end title -->
            <hr class="invis">

            <div class="row">

                {% if Total %}
                    {% for row in Total %}

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="service-widget">
                                <div class="property-main">
                                    <div class="property-wrap">
                                        <figure class="post-media wow fadeIn">
                                            <a href="courseDemo.html?course_id={{ row.courseDetail }}" data-rel="prettyPhoto[gal]"
                                               class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                                            <img src="{{ row.imgURL }}" alt="" class="img-responsive">
                                            <div class="label-inner">

                                            </div>
                                        </figure>
                                        <div class="item-body">
                                            <h3>{{ row.name }}</h3>

                                        </div>
                                        <div class="item-foot">
                                            <div class="pull-left">
                                    <span class="prop-user-agent">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <a href="{{row.teacherInfo}}">{{ row.teacher }}</a>
                                    </span>
                                            </div>
                                            <div class="pull-right">
                                    <span class="prop-date">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        {{ row.time }}
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end service -->
                        </div>

                    {% endfor %}
                {% endif %}

            </div><!-- end row -->
        </div><!-- end container -->
        <div class="container text-center">
            <button type="button" class="btn btn-light btn-radius grd1 btn-brd">logout</button>
        </div>


        <div class="container">
            <form class="row" action="{{ url_for('Tindex') }}" enctype="multipart/form-data" method="post">
                <!--<form class="row" action="{{ url_for('Tindex') }}" method="post">-->
                {{ form.hidden_tag() }}
                <fieldset class="row-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <input type="text" id="coursename" name="coursename" class="form-control"
                                   placeholder="course name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <input type="text" id="description" name="description" class="form-control"
                                   placeholder="description">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <input type="text" id="courseID" name="courseID" class="form-control"
                                   placeholder="course id">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <input type="text" id="time" name="time" class="form-control"
                                   placeholder="time">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <input type="file" id="upload" name="picture"/>
                        </div>

                        <div class="form-inline">add picture</div>
                    </div>


                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <button type="submit" name="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">
                                add course
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

        <!--<form id="form1" method="post" action="" enctype="multipart/form-data">-->
        <!--<div>-->
        <!--<input id="File1" type="file" name="myfile"/>  &lt;!&ndash;后台代码中获取文件是通过form的name来标识的&ndash;&gt;-->
        <!--<input type="submit">提交</input>-->
        <!--</div>-->
        <!--</form>-->


    </div><!-- end section -->

{% endblock %}